In [1]:
import sqlite3
from typing import Optional

import pandas as pd

In [29]:
import pandas as pd

# Create a dummy DataFrame
data = {
    'date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04'],
    'revenue': [1000, 1100, 1200, 1300],
    'cost_of_revenue': [700, 750, 800, 850]
}

df = pd.DataFrame(data)

# Convert the 'date' column to a datetime type if it's not already
df['date'] = pd.to_datetime(df['date'])

# Calculate value change for selected columns
columns_to_convert = ['revenue', 'cost_of_revenue']

for column in columns_to_convert:
    df[f'{column}_value_change'] = df[column] - df[column].shift(1)

# Replace NaN values with zero in the value change columns
df.fillna(0, inplace=True)

# Display the updated DataFrame
print(df)

        date  revenue  cost_of_revenue  revenue_value_change  \
0 2023-01-01     1000              700                   0.0
1 2023-01-02     1100              750                 100.0
2 2023-01-03     1200              800                 100.0
3 2023-01-04     1300              850                 100.0

   cost_of_revenue_value_change
0                           0.0
1                          50.0
2                          50.0
3                          50.0

## Create the dataframe which contains all the historical fundamental data of a stock

In [3]:
# Create stocks fundamental df
conn = sqlite3.connect('../app/database/ibd.db')

In [24]:
def get_stock_fundamental_df(symbol: str) -> pd.DataFrame:
    query = f'''
        SELECT income_statement.*, balance_sheet.*, cash_flow.*, stock_overview.sector
        FROM income_statement
        INNER JOIN balance_sheet
        ON income_statement.fiscal_date_ending = balance_sheet.fiscal_date_ending  AND balance_sheet.symbol = '{symbol}'
        INNER JOIN cash_flow
        ON income_statement.fiscal_date_ending = cash_flow.fiscal_date_ending  AND cash_flow.symbol = '{symbol}'
        INNER JOIN stock_overview
        ON income_statement.symbol = stock_overview.symbol  AND stock_overview.symbol = '{symbol}'
        WHERE income_statement.symbol = '{symbol}'
        ORDER BY DATE(income_statement.fiscal_date_ending)
    '''
    stock_df = pd.read_sql(query, conn)
    
    # Drop columns with duplicated names
    stock_df = stock_df.loc[:, ~stock_df.columns.duplicated()]

    # List of columns to convert to float
    columns_to_convert = stock_df.columns.difference(
        ['symbol', 'fiscal_date_ending', 'reported_currency', 'sector']
    )

    # Convert selected columns to float
    stock_df[columns_to_convert] = stock_df[columns_to_convert].astype(float)
    # Fill NaN values with zero for the selected columns
    stock_df[columns_to_convert] = stock_df[columns_to_convert].fillna(0)
    
    # Create news columns that will contain percentage change of the float columns
    for column in columns_to_convert:
        if column not in ['change_in_cash_and_cash_equivalents', 'change_in_exchange_rate']:
            new_column_name = f'{column}_pct_change'
            stock_df[new_column_name] = stock_df[column].pct_change() * 100
    
    return stock_df

In [25]:
stock_df = get_stock_fundamental_df('NVDA')
#stock_df['total_revenue_change'] = stock_df['total_revenue'].pct_change() * 100

/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100
/var/folders/fx/63_2h8w151976nqmhc4tbk7c0000gn/T/ipykernel_1762/383890058.py:33: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  stock_df[new_column_name] = stock_df[column].pct_change() * 100

In [26]:
stock_df

,symbol,fiscal_date_ending,reported_currency,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,selling_general_and_administrative,research_and_development,...,short_term_investments_pct_change,total_assets_pct_change,total_current_assets_pct_change,total_current_liabilities_pct_change,total_liabilities_pct_change,total_non_current_assets_pct_change,total_non_current_liabilities_pct_change,total_revenue_pct_change,total_shareholder_equity_pct_change,treasury_stock_pct_change
0,NVDA,2019-01-27,USD,1.207000e+09,2.205000e+09,9.980000e+08,9.980000e+08,2.940000e+08,266000000.0,6.470000e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NVDA,2019-04-28,USD,1.296000e+09,2.220000e+09,9.240000e+08,9.240000e+08,3.580000e+08,264000000.0,6.740000e+08,...,-24.246988,5.484502,0.682012,-10.985704,9.291139,0.402194,-2.270884,0.680272,3.874973,2.277880
2,NVDA,2019-07-28,USD,1.541000e+09,2.579000e+09,1.038000e+09,1.038000e+09,5.710000e+08,266000000.0,7.040000e+08,...,-72.763419,5.377648,7.169066,11.327134,2.826037,-2.184996,43.817427,16.171171,6.512778,0.527760
3,NVDA,2019-10-27,USD,1.916000e+09,3.014000e+09,1.098000e+09,1.098000e+09,9.270000e+08,277000000.0,7.120000e+08,...,-99.708029,7.005076,9.033447,11.996963,3.536833,0.707372,0.750144,16.867003,8.494582,2.120958
4,NVDA,2020-01-26,USD,2.015000e+09,3.105000e+09,1.090000e+09,1.090000e+09,9.900000e+08,287000000.0,7.380000e+08,...,-75.000000,9.519292,10.225443,20.949153,11.205396,13.752311,13.115693,3.019244,8.828250,0.904791
5,NVDA,2020-04-26,USD,2.004000e+09,3.080000e+09,1.076000e+09,1.076000e+09,9.760000e+08,293000000.0,7.350000e+08,...,85900.000000,34.299740,43.053324,6.670404,98.689102,15.404615,-1.265823,-0.805153,7.333661,2.262075
6,NVDA,2020-07-26,USD,2.275000e+09,3.866000e+09,1.591000e+09,1.591000e+09,6.510000e+08,627000000.0,9.970000e+08,...,796.162791,8.282446,-25.035743,26.642144,10.940423,191.241904,56.358974,25.519481,6.221849,1.952969
7,NVDA,2020-10-25,USD,2.960000e+09,4.726000e+09,1.766000e+09,1.766000e+09,1.398000e+09,515000000.0,1.047000e+09,...,2.348514,6.755361,-1.961719,52.240664,2.494230,21.775285,197.474582,22.245215,10.205548,2.912432
8,NVDA,2021-01-31,USD,3.156000e+09,5.003000e+09,1.847000e+09,1.846000e+09,1.507000e+09,503000000.0,1.146000e+09,...,35.826572,7.105390,11.547280,6.977378,3.039751,2.270923,1.940463,5.861193,10.166949,2.146249
9,NVDA,2021-05-02,USD,3.629000e+09,5.661000e+09,2.032000e+09,2.032000e+09,1.956000e+09,520000000.0,1.153000e+09,...,9.100243,6.963982,12.905637,2.012739,1.042192,-1.638199,-13.281419,13.152109,11.134790,4.518408
10,NVDA,2021-08-01,USD,4.215000e+09,6.507000e+09,2.292000e+09,2.292000e+09,2.444000e+09,526000000.0,1.245000e+09,...,19.993156,25.503312,42.362222,11.088911,45.591416,1.381324,62.821152,14.944356,12.639821,3.220068
11,NVDA,2021-10-31,USD,4.631000e+09,7.103000e+09,2.472000e+09,2.472000e+09,2.671000e+09,557000000.0,1.403000e+09,...,28.404392,5.128072,0.000000,-18.794964,-3.822202,17.829337,12.807354,9.159367,12.536057,3.740090
12,NVDA,2022-01-30,USD,4.999000e+09,7.643000e+09,2.644000e+09,2.644000e+09,2.970000e+09,563000000.0,1.466000e+09,...,6.707385,8.749262,11.714330,20.016611,4.401806,3.237743,-0.407415,7.602422,11.824523,-100.000000
13,NVDA,2022-05-01,USD,5.431000e+09,8.288000e+09,2.857000e+09,2.857000e+09,1.868000e+09,592000000.0,1.618000e+09,...,-14.397960,2.319687,2.587672,28.304498,7.493599,0.083205,-9.115702,8.439095,-1.097249,NaN
14,NVDA,2022-07-31,USD,2.915000e+09,6.704000e+09,3.789000e+09,5.700000e+08,4.990000e+08,592000000.0,1.824000e+09,...,-14.752903,-3.839689,-7.293322,36.156059,3.879949,4.655624,1.477869,-19.111969,-9.380699,NaN
15,NVDA,2022-10-30,USD,3.177000e+09,5.931000e+09,2.754000e+09,2.754000e+09,6.010000e+08,631000000.0,1.945000e+09,...,-26.247861,-6.872757,-15.300168,-9.481051,-2.476433,7.418271,2.018186,-11.530430,-10.490126,NaN
16,NVDA,2023-01-29,USD,3.833000e+09,6.051000e+09,2.218000e+09,2.218000e+09,1.256000e+09,625000000.0,1.952000e+09,...,-4.215411,1.714088,-0.645911,-4.259664,-0.303046,4.715854,2.804348,2.023268,3.522413,NaN
17,NVDA,2023-04-30,USD,4.648000e+09,7.192000e+09,2.544000e+09,2.544000e+09,2.140000e+09,633000000.0,1.875000e+09,...,3.371354,7.959788,7.844667,10.620143,4.501860,9.093872,2.206245,18.856387,10.945206,NaN
18,NVDA,2023-07-30,USD,9.462000e+09,1.350700e+10,4.045000e+09,3.430000e+08,6.800000e+09,622000000.0,2.040000e+09,...,-0.009765,11.459739,15.729615,42.341598,10.601805,7.349866,-5.165517,87.805895,12.157423,NaN

In [28]:
stock_df[['short_term_debt', 'short_term_debt_pct_change']]

    short_term_debt  short_term_debt_pct_change
0      0.000000e+00                         NaN
1      0.000000e+00                         NaN
2      0.000000e+00                         NaN
3      0.000000e+00                         NaN
4      0.000000e+00                         NaN
5      0.000000e+00                         NaN
6      0.000000e+00                         NaN
7      0.000000e+00                         NaN
8      0.000000e+00                         NaN
9      1.134000e+09                         inf
10     1.000000e+09                  -11.816578
11     0.000000e+00                 -100.000000
12     0.000000e+00                         NaN
13     0.000000e+00                         NaN
14     0.000000e+00                         NaN
15     0.000000e+00                         NaN
16     0.000000e+00                         NaN
17     0.000000e+00                         NaN
18     1.249000e+09                         inf

## Create dataframe that contains interest rates historical data

In [5]:
# Create the interest rates df
query = '''
SELECT  *
FROM economic_indicator_time_series
WHERE indicator_name = 'Interest_Rate'
'''

interest_rate_df = pd.read_sql(query, conn)
interest_rate_df

    indicator_name  value     unit registered_date  registered_date_ts
0    Interest_Rate   5.12  percent      01-07-2023          1688158800
1    Interest_Rate   5.08  percent      01-06-2023          1685566800
2    Interest_Rate   5.06  percent      01-05-2023          1682888400
3    Interest_Rate   4.83  percent      01-04-2023          1680296400
4    Interest_Rate   4.65  percent      01-03-2023          1677621600
..             ...    ...      ...             ...                 ...
824  Interest_Rate   0.83  percent      01-11-1954          -478663200
825  Interest_Rate   0.85  percent      01-10-1954          -481341600
826  Interest_Rate   1.07  percent      01-09-1954          -483933600
827  Interest_Rate   1.22  percent      01-08-1954          -486612000
828  Interest_Rate   0.80  percent      01-07-1954          -489290400

[829 rows x 5 columns]

## Create dataframe that contains treasury yield(10 year) historical data

In [6]:
query = '''
SELECT  *
FROM economic_indicator_time_series
WHERE indicator_name = 'Treasury_Yield'
'''

treasury_yield_df = pd.read_sql(query, conn)
treasury_yield_df

     indicator_name  value     unit registered_date  registered_date_ts
0    Treasury_Yield   3.90  percent      01-07-2023          1688158800
1    Treasury_Yield   3.75  percent      01-06-2023          1685566800
2    Treasury_Yield   3.57  percent      01-05-2023          1682888400
3    Treasury_Yield   3.46  percent      01-04-2023          1680296400
4    Treasury_Yield   3.66  percent      01-03-2023          1677621600
..              ...    ...      ...             ...                 ...
839  Treasury_Yield   2.95  percent      01-08-1953          -518148000
840  Treasury_Yield   2.93  percent      01-07-1953          -520826400
841  Treasury_Yield   3.11  percent      01-06-1953          -523418400
842  Treasury_Yield   3.05  percent      01-05-1953          -526096800
843  Treasury_Yield   2.83  percent      01-04-1953          -528688800

[844 rows x 5 columns]

## Create dataframe that contains global commodities index historical data

In [7]:
query = '''
SELECT  *
FROM economic_indicator_time_series
WHERE indicator_name = 'Global_Commodities_Index'
'''

commodities_index_df = pd.read_sql(query, conn)
commodities_index_df

,indicator_name,value,unit,registered_date,registered_date_ts
0,Global_Commodities_Index,154.695420,index 2016=100,01-06-2023,1685566800
1,Global_Commodities_Index,157.292251,index 2016=100,01-05-2023,1682888400
2,Global_Commodities_Index,170.972547,index 2016=100,01-04-2023,1680296400
3,Global_Commodities_Index,168.294185,index 2016=100,01-03-2023,1677621600
4,Global_Commodities_Index,174.564801,index 2016=100,01-02-2023,1675202400
...,...,...,...,...,...
241,Global_Commodities_Index,63.065977,index 2016=100,01-05-2003,1051736400
242,Global_Commodities_Index,61.887199,index 2016=100,01-04-2003,1049144400
243,Global_Commodities_Index,65.782768,index 2016=100,01-03-2003,1046469600
244,Global_Commodities_Index,70.229514,index 2016=100,01-02-2003,1044050400
245,Global_Commodities_Index,65.153378,index 2016=100,01-01-2003,1041372000

## Create dataframe that contains Unemployment historical data

In [8]:
query = '''
SELECT  *
FROM economic_indicator_time_series
WHERE indicator_name = 'Unemployment'
'''

unemployment_df = pd.read_sql(query, conn)
unemployment_df

    indicator_name  value     unit registered_date  registered_date_ts
0     Unemployment    3.5  percent      01-07-2023          1688158800
1     Unemployment    3.6  percent      01-06-2023          1685566800
2     Unemployment    3.7  percent      01-05-2023          1682888400
3     Unemployment    3.4  percent      01-04-2023          1680296400
4     Unemployment    3.5  percent      01-03-2023          1677621600
..             ...    ...      ...             ...                 ...
902   Unemployment    3.5  percent      01-05-1948          -683863200
903   Unemployment    3.9  percent      01-04-1948          -686455200
904   Unemployment    4.0  percent      01-03-1948          -689133600
905   Unemployment    3.8  percent      01-02-1948          -691639200
906   Unemployment    3.4  percent      01-01-1948          -694317600

[907 rows x 5 columns]

## Create dataframe that contains Inflation historical data(yearly)

In [9]:
query = '''
SELECT  *
FROM economic_indicator_time_series
WHERE indicator_name = 'Inflation'
ORDER BY registered_date_ts DESC
'''

inflation_df = pd.read_sql(query, conn)
inflation_df

   indicator_name     value     unit registered_date  registered_date_ts
0       Inflation  4.642850  percent      01-01-2023          1693083600
1       Inflation  8.002800  percent      01-01-2022          1640988000
2       Inflation  4.697859  percent      01-01-2021          1609452000
3       Inflation  1.233584  percent      01-01-2020          1577829600
4       Inflation  1.812210  percent      01-01-2019          1546293600
..            ...       ...      ...             ...                 ...
59      Inflation  1.278912  percent      01-01-1964          -189396000
60      Inflation  1.239669  percent      01-01-1963          -220932000
61      Inflation  1.198773  percent      01-01-1962          -252468000
62      Inflation  1.070724  percent      01-01-1961          -284004000
63      Inflation  1.457976  percent      01-01-1960          -315626400

[64 rows x 5 columns]

## Create dataframe that contains the stock time series

In [10]:
def get_stock_time_series_df(symbol: str) -> pd.DataFrame:
    query = f'''
    SELECT  *
    FROM stock_time_series
    WHERE symbol = '{symbol}'
    ORDER BY registered_date_ts DESC
    '''
    
    stock_time_series_df = pd.read_sql(query, conn)
    return stock_time_series_df

In [11]:
stock_time_series_df = get_stock_time_series_df('NVDA')
stock_time_series_df

,symbol,open_price,high_price,low_price,close_price,volume,dividend_amount,registered_date,registered_date_ts
0,NVDA,497.620,498.00,481.416,485.09,4.638303e+07,0.00,01-09-2023,1693515600
1,NVDA,464.595,502.66,403.110,493.55,1.363638e+09,0.00,31-08-2023,1693429200
2,NVDA,425.170,480.88,413.460,467.29,8.709012e+08,0.00,31-07-2023,1690750800
3,NVDA,384.890,439.90,373.560,423.02,1.052802e+09,0.04,30-06-2023,1688072400
4,NVDA,278.400,419.38,272.400,378.34,1.169407e+09,0.00,31-05-2023,1685480400
...,...,...,...,...,...,...,...,...,...
281,NVDA,83.720,110.40,57.000,89.13,1.350360e+07,0.00,28-04-2000,956869200
282,NVDA,64.000,150.00,57.500,84.48,3.656700e+07,0.00,31-03-2000,954450000
283,NVDA,37.130,68.25,35.750,64.00,1.908510e+07,0.00,29-02-2000,951775200
284,NVDA,47.250,48.25,35.000,37.06,1.029470e+07,0.00,31-01-2000,949269600
285,NVDA,34.630,47.44,34.630,46.94,1.024490e+07,0.00,31-12-1999,946591200

## Helper function to calculate average value from given time series in a given timeframe

In [12]:
def calculate_time_series_avg_value(
    start_date: str,
    time_series_df: pd.DataFrame,
    target_column: str,
    days: int = 31
) -> Optional[int]:
    """
    Given a start calculate what was the avg value
    between <start_date> and <start_date> + <days> time
    """
    lower_bound = pd.Timestamp(start_date)
    
    upper_bound = lower_bound + pd.DateOffset(days=days)
    
    # Filter the DataFrame
    filtered_df = time_series_df[(time_series_df['registered_date_ts'] >= lower_bound.timestamp()) & (time_series_df['registered_date_ts'] <= upper_bound.timestamp())]
    
    if len(filtered_df) == 0:
        return None

    average_value = filtered_df[target_column].mean()
    return average_value

## Helper function to return inflation of given year

In [13]:
def get_inflation_value_by_date(date_string: str, inflation_df: pd.DataFrame) -> Optional[float]:
    try:
        date_obj = pd.to_datetime(date_string, format='%Y-%m-%d')
        target_year = date_obj.year
        inflation_df['register_date_pandas_dt'] = pd.to_datetime(inflation_df['registered_date'], format='%d-%m-%Y')
        selected_row = inflation_df[inflation_df['register_date_pandas_dt'].dt.year == target_year]
        if not selected_row.empty:
            return selected_row['value'].iloc[0]
        else:
            return None
    except (ValueError, KeyError):
        return None

In [14]:
result = get_inflation_value_by_date('2023-12-31', inflation_df)
print("Result is:", result)

Result is: 4.64285

## Create new columns with average values of economic indicators and inflation of given year

In [15]:
temp_stock_df = stock_df.copy()
temp_stock_df['avg_interest_rate'] = temp_stock_df['fiscal_date_ending'].apply(
                                                          calculate_time_series_avg_value,
                                                          target_column='value',
                                                          time_series_df=interest_rate_df,
                                                          days=40
                                                        )

In [16]:
temp_stock_df['avg_treasury_yield'] = temp_stock_df['fiscal_date_ending'].apply(
                                                          calculate_time_series_avg_value,
                                                          target_column='value',
                                                          time_series_df=treasury_yield_df,
                                                          days=40
                                                        )

In [17]:
temp_stock_df['avg_unemployment_rate'] = temp_stock_df['fiscal_date_ending'].apply(
                                                          calculate_time_series_avg_value,
                                                          target_column='value',
                                                          time_series_df=unemployment_df,
                                                          days=40
                                                        )

In [18]:
temp_stock_df['avg_global_commodities_index_value'] = temp_stock_df['fiscal_date_ending'].apply(
                                                          calculate_time_series_avg_value,
                                                          target_column='value',
                                                          time_series_df=commodities_index_df,
                                                          days=40
                                                        )

In [19]:
temp_stock_df['inflation'] = temp_stock_df['fiscal_date_ending'].apply(
                                                          get_inflation_value_by_date,
                                                          inflation_df=inflation_df,
                                                        )

## Create volume column

In [20]:
temp_stock_df['volume'] = temp_stock_df['fiscal_date_ending'].apply(
                                                          calculate_time_series_avg_value,
                                                          target_column='volume',
                                                          time_series_df=stock_time_series_df,
                                                          days=40
                                                        )

## Create target column

In [21]:
temp_stock_df['price'] = temp_stock_df['fiscal_date_ending'].apply(
                                                          calculate_time_series_avg_value,
                                                          target_column='close_price',
                                                          time_series_df=stock_time_series_df,
                                                          days=40
                                                        )

In [22]:
temp_stock_df.head()

,symbol,fiscal_date_ending,reported_currency,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,selling_general_and_administrative,research_and_development,...,proceeds_from_sale_of_treasury_stock,change_in_cash_and_cash_equivalents,change_in_exchange_rate,avg_interest_rate,avg_treasury_yield,avg_unemployment_rate,avg_global_commodities_index_value,inflation,volume,price
0,NVDA,2023-07-30,USD,9.462000e+09,1.350700e+10,4.045000e+09,3.430000e+08,6.800000e+09,622000000.0,2.040000e+09,...,None,8.030000e+08,None,NaN,NaN,NaN,NaN,4.64285,7.603075e+08,481.976667
1,NVDA,2023-04-30,USD,4.648000e+09,7.192000e+09,2.544000e+09,2.544000e+09,2.140000e+09,633000000.0,1.875000e+09,...,None,1.690000e+09,None,5.070,3.660,3.65,155.993835,4.64285,1.169407e+09,378.340000
2,NVDA,2023-01-29,USD,3.833000e+09,6.051000e+09,2.218000e+09,2.218000e+09,1.256000e+09,625000000.0,1.952000e+09,...,None,NaN,None,4.610,3.705,3.55,171.429493,4.64285,9.924524e+08,213.765000
3,NVDA,2022-10-30,USD,3.177000e+09,5.931000e+09,2.754000e+09,2.754000e+09,6.010000e+08,631000000.0,1.945000e+09,...,None,NaN,None,3.940,3.755,3.55,193.215259,8.00280,1.157644e+09,152.100000
4,NVDA,2022-07-31,USD,2.915000e+09,6.704000e+09,3.789000e+09,5.700000e+08,4.990000e+08,592000000.0,1.824000e+09,...,None,NaN,None,2.445,3.210,3.60,230.968689,8.00280,1.206915e+09,150.940000

In [23]:
stock_time_series_df.head(10)

,symbol,open_price,high_price,low_price,close_price,volume,dividend_amount,registered_date,registered_date_ts
0,NVDA,497.620,498.0000,481.416,485.09,4.638303e+07,0.00,01-09-2023,1693515600
1,NVDA,464.595,502.6600,403.110,493.55,1.363638e+09,0.00,31-08-2023,1693429200
2,NVDA,425.170,480.8800,413.460,467.29,8.709012e+08,0.00,31-07-2023,1690750800
3,NVDA,384.890,439.9000,373.560,423.02,1.052802e+09,0.04,30-06-2023,1688072400
4,NVDA,278.400,419.3800,272.400,378.34,1.169407e+09,0.00,31-05-2023,1685480400
5,NVDA,275.090,281.1000,262.200,277.49,7.426625e+08,0.00,28-04-2023,1682629200
6,NVDA,231.920,278.3431,222.970,277.77,1.126658e+09,0.04,31-03-2023,1680210000
7,NVDA,196.910,238.8800,196.110,232.16,1.039409e+09,0.00,28-02-2023,1677535200
8,NVDA,148.510,206.2800,140.340,195.37,9.454958e+08,0.00,31-01-2023,1675116000
9,NVDA,169.990,187.9000,138.840,146.14,8.946151e+08,0.00,30-12-2022,1672351200

In [24]:
temp_stock_df.to_sql('feature_store', conn, index=False, if_exists='replace')

19